.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #152D8Fff;
    padding: 20px;
  }
  
  .logo img {
    height: 40px;
    margin-left: 300px;
  }
  .logo {
    margin-left: 30px; 
    margin-top: 9px;
  }
  
  
  .links {
    display: flex;
    align-items:center ;
  }
  
  .links a {
    color: white;

    text-decoration: none;
    margin-right: 32px;
    margin-top: 5px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-right: 200px;
  }
  
  .icons img {
    height: 20px;
    margin-right: 20px;
  }
  
  .icons a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 14px;
    border-radius: 20px;
    margin: 30px auto;
    width: 50%;
    border: 1px solid#7A7B7Bff;
    margin-top: -40px;
  }
  
  .search-bar img {
    height: 20px;
    margin-right: 5px;
  }
  
  .search-bar input[type='text'] {
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
  .download-icon {
     margin-top: 50px;
    margin-left: 1200px;
    height: 20px;
    width: 20px;
    background-color:   #27419Bff !important;
    border-radius: 1px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 380px;
  }
  
  .filter-heading {
    display: flex;
    align-items: center;
  }
  
  .filter-text {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .filter-buttons {
    display: flex;
  }
  
  .filter-button {
    border: 1px solid #7A7B7Bff;
    background-color: transparent;
    color: #505E95ff;
    padding: 10px 12px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px
    
  }
  .filter-button.date {
    background-color:#D1F2FFff;
    color: #505E95ff;
    border: none;

  }
  .navbar-link.activity {
    background-color:   #27419Bff;
    border-radius: 40px;
    width: 5rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;



}
  
  
  
  